<!-- Extends the base template -->
{% extends 'wiki/base.html' %}
<!-- Overrides the base title block with the index title -->
{% block title %}<title>Index</title>{% endblock title %}
<!-- Overrides the base login block to add login/logout buttons -->
{% block login %}
    <!-- 'auth' determines if the user is authenticated; so, if the user is not, the 'login' nav is displayed -->
    {% if not auth %}
        <a href="{% url 'wiki:login' %}" class="btn btn-primary">Login</a>
    <!-- Else, if the user is authenticated, display the logout button -->
    {% else %}
        <a href="{% url 'wiki:logout' %}" class="btn btn-danger">Logout</a>
    {% endif %}
{% endblock login %}
<!-- Overrides the base content block to add an index of pages -->
{% block content %}
    <!-- If the context contains pages, -->
    {% if pages %}
        <!-- iterate through each page in the context, -->
        {% for page in pages %}
        <div class="container align-content-start">
            <ul>
                <!-- and display them in a list. -->
                <li class="list-group-item col-2">
                    <a href="{% url 'wiki:pageview' page.page_name %}">
                        {{ page.page_name }}
                    </a>
                </li>
            </ul>
        </div>
        {% endfor %}
    <!-- Else if no pages are in the context, notify the user that no pages are available -->
    {% else %}
        <p>No pages are available.</p>
    {% endif %}

{% endblock content %}